.dump pre {
	border-top:3px solid rgba(0, 0, 0, .2);
	background-color:rgba(255, 255, 255, .8);
	padding:10px;
	font-family:"Monaco", "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	line-height:1.5
}

html {
	height:100%
}

input {
	font:13px Arial, Helvetica, sans-serif
}

body {
	position:static !important
}

img {
	border:0
}

.js .b-pseudo-link {
	cursor:pointer;
	text-decoration:none;
	border-bottom:1px dotted
}

ul, ol, li {
	padding:0
}

.ios7-body-fix {
	min-height:663px !important
}

.link {
	color:#22c
}

.link {
	text-decoration:none;
	-webkit-transition:color .15s ease-out;
	transition:color .15s ease-out
}

:link, .b-widget__title :visited, .link:visited, .link__search:visited {
	color:#0d44a0
}

.b-page .link_pseudo_yes {
	color:#0d44a0
}

.link_pseudo_yes {
	cursor:pointer
}

.link:hover, .link:link:hover, .link:visited:hover, :link:hover, :visited:hover {
	color:#d00 !important
}

.link_black:link {
	color:#000;
	text-decoration:none
}

.link_black_novisit, .link_black_novisit:link, .link_black_novisit:visited {
	color:#000;
	text-decoration:none
}

.metric, .b-counter {
	width:1px;
	height:1px;
	position:absolute;
	left:-100px;
	top:0;
	overflow:hidden;
	opacity:0
}

.i-flashcookie {
	position:absolute;
	left:-10000px;
	top:0
}

.b-page {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	min-height:400px
}

body {
	font:.8em Arial, Helvetica, sans-serif;
	z-index:0;
	margin:0;
	padding:0 0 1em;
	color:#000;
	background:#fff
}

wbr {
	display:inline-block
}

:link:hover, :visited:hover {
	color:red !important
}

.i-hidden {
	display:none !important
}

.b-inline {
	display:-moz-inline-stack;
	display:inline-block;
	max-height:999999px
}

.b-inline, .b-inline_vtop {
	vertical-align:top
}

.b-inline_aright {
	text-align:right
}

.b-inline_acenter {
	text-align:center
}

.statlog__iframe {
	position:absolute;
	left:-1000px;
	visibility:hidden;
	top:0;
	height:1px;
	width:1px
}

.b-sethome {
	float:left
}

.b-sethome__link {
	font:13px/13px Arial, Helvetica, sans-serif;
	color:#000
}

.b-sethome__link:link, .b-sethome__link:visited {
	color:#000
}

.personal {
	width:auto;
	font:13px/13px Arial, Helvetica, sans-serif
}

.personal__exit, .personal__mail {
	margin-left:25px
}

.personal__count {
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	letter-spacing:.5px
}

.personal__link {
	white-space:nowrap;
	text-decoration:none;
	border:0;
	margin-left:10px
}

.personal__link, .personal__name {
	display:inline-block;
	position:relative
}

.personal__name {
	-webkit-transition:color .15s ease-out;
	transition:color .15s ease-out;
	color:#000;
	vertical-align:baseline;
	font:13px/13px Arial, Helvetica, sans-serif
}

.personal__name:hover {
	color:#D00
}

.personal__name:first-letter {
	color:#D00
}

.search__input .input__box-layout {
	width:100%;
	border-collapse:collapse;
	vertical-align:top
}

.search__input .input__box-layout-cell {
	padding:0
}

.search__input .input__box-layout-cell_pos_first {
	width:0
}

.search__input .input__box-layout-cell_pos_last {
	width:100%
}

.search__input .input__control_visibility_hidden {
	visibility:hidden
}

.input {
	position:relative;
	display:inline-block;
	width:100%
}

.input__control_visibility_hidden {
	visibility:hidden
}

.input__control {
	position:relative;
	z-index:3;
	width:100%;
	margin:0;
	font-size:100%;
	color:#000;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-appearance:none
}

@media all and (min-width:0) {
	.input__control {
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		padding:.4em 0;
		border:0;
		outline:0;
		background:0 0
	}
}

.input__control::-webkit-search-decoration {
	-webkit-appearance:none
}

.input__control::-webkit-search-cancel-button {
	display:none
}

.input__control::-webkit-input-placeholder {
	text-indent:0
}

@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none) {
	.input__control::-ms-clear {
		display:none
	}
}

.input__control:-webkit-autofill {
	top:.1em;
	left:.2em;
	height:1.6em;
	-webkit-box-shadow:inset 0 0 0 50px #fff;
	-webkit-text-fill-color:#000
}

.input_disabled_yes.input_type_textarea .input__control {
	resize:none
}

.input_disabled_yes .input__clear {
	display:none
}

.input_disabled_yes, .input_disabled_yes .input__control {
	color:#aaa !important
}

@media all and (min-width:0) {
	.input_disabled_yes.input .input__box {
		background:rgba(0, 0, 0, .08);
		-webkit-box-shadow:none;
		box-shadow:none
	}
}

.input_disabled_yes .input__box, .input_disabled_yes .input__control {
	cursor:default
}

.input_theme_normal, .input_theme_normal .input__control {
	font-family:Arial, sans-serif;
	color:#000
}

.input_theme_normal .input__hint {
	color:#999
}

@media all and (min-width:0) {
	.input_theme_normal .input__box {
		background:#fff;
		-webkit-box-shadow:inset 0 0 0 1px #cbcbcb;
		box-shadow:inset 0 0 0 1px #cbcbcb
	}

	.input_theme_normal.input_focused_yes .input__box {
		-webkit-box-shadow:inset 0 0 0 1px #d0ba65, 0 0 10px #fc0;
		box-shadow:inset 0 0 0 1px #d0ba65, 0 0 10px #fc0
	}
}

.input__box {
	position:relative;
	display:block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	cursor:text
}

.input__clear {
	position:absolute;
	z-index:5;
	top:0;
	bottom:0;
	visibility:hidden;
	margin:0;
	padding:0;
	opacity:0;
	background:url("//yastatic.net/www/_/K/4/e4uv8u9I9wb1fi17d8-3Jnr2A.svg") 50% 50% no-repeat;
	-webkit-transition:visibility 0 linear .1s, opacity .1s ease-out;
	transition:visibility 0s linear .1s, opacity .1s ease-out;
	right:16px
}

.input__clear_visibility_visible {
	visibility:visible;
	cursor:pointer;
	opacity:.3;
	-webkit-transition:opacity .1s ease-out;
	transition:opacity .1s ease-out
}

.input__clear_visibility_visible:hover {
	opacity:.8
}

.input_size_m .input__control {
	font-size:16px;
	padding-top:6px;
	padding-bottom:4px
}

.input_size_m {
	font-size:15px;
	line-height:32px
}

.input_size_m .input__clear {
	width:32px
}

.input_size_m .input__control {
	padding-left:10px
}

.input_size_m .input__box {
	padding-right:30px
}

.input_size_m .input__hint {
	padding-left:11px
}

@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none) {
	.input_size_m .input__control {
		border-left:10px solid transparent
	}

	.input_size_m .input__box .input__control {
		padding-left:0
	}
}

.button {
	position:relative;
	display:inline-block;
	margin:0;
	padding:0;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	text-align:center;
	white-space:nowrap;
	outline:0
}

.button::-moz-focus-inner {
	padding:0;
	border:0
}

@media all and (min-width:0) {
	.button {
		border:0;
		background:0 0
	}
}

a.button:link, a.button:visited, a.button:hover {
	text-decoration:none;
	outline:hidden
}

.button {
	cursor:pointer
}

.button__text {
	position:relative;
	pointer-events:none
}

.button_disabled_yes, a.button_disabled_yes .button__text {
	color:#aaa !important
}

@media all and (min-width:0) {
	.button_disabled_yes.button:before {
		background:0 0;
		-webkit-box-shadow:none;
		box-shadow:none
	}

	.button_disabled_yes.button {
		background:rgba(0, 0, 0, .08) !important
	}
}

.button_disabled_yes {
	cursor:default !important
}

a.button_theme_normal, .button_theme_normal {
	font-family:Arial, sans-serif;
	color:#000
}

@media all and (min-width:0) {
	.button_theme_normal {
		border-radius:3px
	}

	.button_theme_normal:before {
		position:absolute;
		top:1px;
		right:1px;
		bottom:1px;
		left:1px;
		padding:0;
		content:'';
		border-radius:2px;
		background:#fff;
		-webkit-box-shadow:0 0 0 1px rgba(0, 0, 0, .2);
		box-shadow:0 0 0 1px rgba(0, 0, 0, .2)
	}

	.button_theme_normal.button_pressed_yes:before {
		background-color:#f6f5f3;
		-webkit-box-shadow:0 0 0 1px rgba(0, 0, 0, .3);
		box-shadow:0 0 0 1px rgba(0, 0, 0, .3)
	}
}

.button_theme_normal.button_hovered_yes {
	color:#000 !important
}

@media all and (min-width:0) {
	.button_theme_normal.button_focused_yes {
		box-shadow:0 0 6px #fc0
	}

	.button_theme_normal.button_focused_yes:before {
		box-shadow:0 0 0 1px rgba(178, 142, 0, .6)
	}

	.button_theme_normal.button_hovered_yes:not(.button_focused_yes):before {
		box-shadow:0 0 0 1px rgba(0, 0, 0, .3)
	}
}

.button_size_m {
	font-size:15px
}

@media all and (min-width:0) {
	.button_size_m {
		line-height:32px
	}
}

.button_size_m .button__text {
	padding:0 15px
}

.button_size_m.button_arrow_down .button__text:after {
	right:10px;
	-webkit-background-size:74%;
	background-size:74%
}

.button_size_m.button.button_arrow_down .button__text {
	padding-right:31px
}

.popup {
	position:absolute;
	z-index:32700;
	display:none;
	padding:1px
}

.popup, .popup__content {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}

.popup__content {
	position:relative;
	z-index:10;
	height:100%;
	margin:0;
	padding:4px 8px
}

.popup_theme_ffffff {
	-webkit-box-shadow:0 0 0 1px rgba(0, 0, 0, .1) inset, 0 10px 20px -5px rgba(0, 0, 0, .4);
	box-shadow:0 0 0 1px rgba(0, 0, 0, .1) inset, 0 10px 20px -5px rgba(0, 0, 0, .4)
}

.popup_theme_ffffff, .popup_theme_ffffff .popup__tail:after {
	background:#fff
}

.popup_theme_ffffff .popup__tail {
	background:rgba(0, 0, 0, .15);
	background:-webkit-gradient(linear, left bottom, right top, color-stop(50%, rgba(0, 0, 0, .15)), color-stop(50%, rgba(0, 0, 0, 0)));
	background:-webkit-linear-gradient(bottom left, rgba(0, 0, 0, .15) 50%, rgba(0, 0, 0, 0) 50%);
	background:linear-gradient(to top right, rgba(0, 0, 0, .15) 50%, rgba(0, 0, 0, 0) 50%)
}

.popup_visibility_visible {
	display:block
}

.popup_visibility_visible:after {
	content:''
}

.popup_visibility_outside {
	top:-99999px;
	left:-99999px;
	display:block
}

.popup__under {
	position:absolute;
	z-index:-1;
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding:0;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	border:0
}

.popup__under_color_white {
	opacity:.8;
	background:#fff
}

.popup__under_type_paranja {
	position:fixed;
	z-index:32000;
	top:0;
	left:0;
	padding:0;
	opacity:.3;
	background:#000
}

.suggest2, .suggest2 .popup__content, .suggest2__content {
	padding:0
}

.suggest2__items {
	margin:0;
	padding:0
}

.suggest2 {
	z-index:9998
}

.suggest2.popup {
	width:100%;
	padding-right:15px
}

.suggest2__content {
	margin:10px 0 0
}

.suggest2-item {
	overflow:hidden;
	list-style-type:none;
	white-space:nowrap;
	text-overflow:ellipsis
}

.suggest2-item_selected_yes {
	background:#ffeba0
}

.suggest2-item__text {
	white-space:nowrap;
	color:#000
}

.suggest2-item__fact {
	color:#999
}

.suggest2-item__text_type_url {
	color:#22c
}

.suggest2-item_type_weather .suggest2-item__fact, .suggest2-item_type_traffic .suggest2-item__fact {
	margin-left:5px
}

.suggest2-item {
	cursor:pointer
}

.suggest2-item_type_weather .suggest2-item__icon, .suggest2-item_type_traffic .suggest2-item__icon {
	width:32px;
	height:28px;
	margin:0 0 0 5px
}

.suggest2-item {
	border-radius:3px;
	font-size:19px;
	line-height:38px;
	padding:0 15px
}

.suggest2-item_type_weather .suggest2-item__icon.suggest2-item__icon, .suggest2-item_type_traffic .suggest2-item__icon.suggest2-item__icon {
	vertical-align:middle
}

.suggest2-item__text_type_url {
	text-decoration:none
}

.suggest2-item.suggest2-item_selected_yes .suggest2-item__fact, .suggest2-item.suggest2-item_selected_yes .suggest2-item__bullet, .suggest2-item.suggest2-item_selected_yes .suggest2-item__link:hover .suggest2-item__fact {
	color:#998d60
}

.suggest2-item__icon {
	display:inline-block;
	vertical-align:middle;
	background-repeat:no-repeat;
	background-position:center;
	width:32px;
	height:32px;
	margin:0 0 0 5px;
	-webkit-background-size:contain;
	-moz-background-size:contain;
	background-size:contain
}

.suggest2-item__icon_traffic_red {
	background-image:url("//yastatic.net/www/_/y/x/kL4aBWueLyiDu4gKFLS_LkeJM.svg")
}

.suggest2-item__icon_traffic_yellow {
	background-image:url("//yastatic.net/www/_/R/8/2caVanXN0uoMHy3t-YJot4LyQ.svg")
}

.suggest2-item__icon_traffic_green {
	background-image:url("//yastatic.net/www/_/n/l/qZmv3-9bFPQodVYMPqCqvV0j4.svg")
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_traffic_red {
	background-image:url("//yastatic.net/www/_/C/W/NKPjr2M6_DJUismb3OYQIilbs.png")
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_traffic_yellow {
	background-image:url("//yastatic.net/www/_/S/n/Ug8-niquez5PGazW8ZdLGO8o.png")
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_traffic_green {
	background-image:url("//yastatic.net/www/_/t/m/pwNd8tOb-ZaTH96CQUrdDcUj8.png")
}

.suggest2-item__icon_weather_bkn-plus-ra-d {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-plus-ra-d.svg')
}

.suggest2-item__icon_weather_bkn-plus-ra-n {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-plus-ra-n.svg')
}

.suggest2-item__icon_weather_bkn-plus-sn-d {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-plus-sn-d.svg')
}

.suggest2-item__icon_weather_bkn-plus-sn-n {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-plus-sn-n.svg')
}

.suggest2-item__icon_weather_bkn-minus-ra-d {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-minus-ra-d.svg')
}

.suggest2-item__icon_weather_bkn-minus-ra-n {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-minus-ra-n.svg')
}

.suggest2-item__icon_weather_bkn-minus-sn-d {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-minus-sn-d.svg')
}

.suggest2-item__icon_weather_bkn-minus-sn-n {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-minus-sn-n.svg')
}

.suggest2-item__icon_weather_bkn-d {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-d.svg')
}

.suggest2-item__icon_weather_bkn-n {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-n.svg')
}

.suggest2-item__icon_weather_bkn-ra-d {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-ra-d.svg')
}

.suggest2-item__icon_weather_bkn-ra-n {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-ra-n.svg')
}

.suggest2-item__icon_weather_bkn-sn-d {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-sn-d.svg')
}

.suggest2-item__icon_weather_bkn-sn-n {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-sn-n.svg')
}

.suggest2-item__icon_weather_bl {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bl.svg')
}

.suggest2-item__icon_weather_fg-d {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/fg-d.svg')
}

.suggest2-item__icon_weather_fg-n {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/fg-n.svg')
}

.suggest2-item__icon_weather_ovc {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/ovc.svg')
}

.suggest2-item__icon_weather_ovc-plus-ra {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/ovc-plus-ra.svg')
}

.suggest2-item__icon_weather_ovc-plus-sn {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/ovc-plus-sn.svg')
}

.suggest2-item__icon_weather_ovc-minus-ra {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/ovc-minus-ra.svg')
}

.suggest2-item__icon_weather_ovc-minus-sn {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/ovc-minus-sn.svg')
}

.suggest2-item__icon_weather_ovc-gr {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/ovc-gr.svg')
}

.suggest2-item__icon_weather_ovc-ra {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/ovc-ra.svg')
}

.suggest2-item__icon_weather_ovc-sn {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/ovc-sn.svg')
}

.suggest2-item__icon_weather_ovc-ts-ra {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/ovc-ts-ra.svg')
}

.suggest2-item__icon_weather_skc-d {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/skc-d.svg')
}

.suggest2-item__icon_weather_skc-n {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/skc-n.svg')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_bkn-plus-ra-d {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-plus-ra-d.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_bkn-plus-ra-n {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-plus-ra-n.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_bkn-plus-sn-d {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-plus-sn-d.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_bkn-plus-sn-n {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-plus-sn-n.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_bkn-minus-ra-d {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-minus-ra-d.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_bkn-minus-ra-n {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-minus-ra-n.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_bkn-minus-sn-d {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-minus-sn-d.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_bkn-minus-sn-n {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-minus-sn-n.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_bkn-d {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-d.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_bkn-n {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-n.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_bkn-ra-d {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-ra-d.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_bkn-ra-n {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-ra-n.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_bkn-sn-d {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-sn-d.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_bkn-sn-n {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bkn-sn-n.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_bl {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/bl.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_fg-d {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/fg-d.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_fg-n {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/fg-n.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_ovc {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/ovc.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_ovc-plus-ra {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/ovc-plus-ra.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_ovc-plus-sn {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/ovc-plus-sn.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_ovc-minus-ra {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/ovc-minus-ra.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_ovc-minus-sn {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/ovc-minus-sn.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_ovc-gr {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/ovc-gr.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_ovc-ra {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/ovc-ra.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_ovc-sn {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/ovc-sn.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_ovc-ts-ra {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/ovc-ts-ra.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_skc-d {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/skc-d.png')
}

.suggest2-detect_inlinesvg_no .suggest2-item__icon_weather_skc-n {
	background-image:url('//yastatic.net/weather/i/icons/islands/32/skc-n.png')
}

.suggest2-item__icon_type_favicon {
	width:16px;
	height:16px;
	margin:0 0 2px 9px
}

.suggest2-item__icon_size_s {
	width:16px;
	height:16px;
	margin:0 9px 2px
}

.suggest2-item__icon_size_m {
	width:22px;
	height:22px;
	margin:0 9px 2px
}

.suggest2-item__icon_size_l {
	width:32px;
	margin:0 5px;
	vertical-align:top;
	height:28px
}

.suggest2-item__link {
	display:block;
	overflow:hidden;
	text-decoration:none;
	text-overflow:ellipsis;
	color:#999;
	outline:none
}

.suggest2-item__link:hover .suggest2-item__fact {
	color:#999
}

.suggest2-item__link:hover .suggest2-item__text_type_url {
	color:red
}

.suggest2-item_type_fact .suggest2-item__fact {
	color:#999
}

.suggest2__a11y {
	position:absolute;
	left:-32767px
}

.suggest2-item__bullet {
	margin:0 7px;
	color:#999
}

.suggest2-item__bullet:before {
	content:'→'
}

.suggest2-item_type_icon .suggest2-item__fact {
	margin-left:9px
}

.suggest2-item_type_nav, .suggest2-item_type_traffic .suggest2-item__value {
	color:#999
}

.suggest2-item_type_traffic .suggest2-item__icon {
	vertical-align:top
}

.suggest2-item_type_weather .suggest2-item__value {
	color:#999
}

.suggest2-item_type_weather .suggest2-item__icon {
	vertical-align:top
}

.popup__close {
	position:absolute;
	z-index:12;
	top:5px;
	right:5px;
	width:16px;
	height:16px;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	font:0/0 a;
	opacity:.2
}

.i-ua_inlinesvg_yes .popup__close {
	background:url("//yastatic.net/www/_/B/_/GHi1n15TIonEBlfjSOiyj2Km4.svg") no-repeat
}

.i-ua_svg_no .popup__close, .i-ua_inlinesvg_no .popup__close {
	background:url("//yastatic.net/www/_/_/1/tfIBlbbO-sFZX3BSjgbsFLIaE.png") no-repeat
}

.popup__close:hover {
	opacity:1
}

.popup_has-close_yes .popup__content {
	padding:20px
}

.popup_theme_suggest {
	background:#fff
}

.search__input {
	padding-right:6px
}

.search .input_size_m .input__box {
	height:32px
}

.search .input_size_m .input__control {
	padding-left:9px
}

.search {
	margin:0;
	padding:0
}

.search__table {
	width:100%;
	border-collapse:collapse
}

.search__cell {
	padding:0;
	vertical-align:top
}

body .search__input {
	padding-right:6px
}

.search__button {
	width:1%;
	padding:0;
	vertical-align:middle
}

.search .input_size_m .input__control {
	font-family:Helvetica, Arial, sans-serif
}

.search__button .button {
	min-width:72px
}

.search2 {
	display:inline-block;
	white-space:nowrap
}

.search2.search2-web {
	display:block;
	margin:0 auto;
	height:auto;
	width:80%;
	max-width:800px;
	padding-left:15px
}

.search2-web__input-wrapper .input_size_m .input__box {
	padding-right:46px
}

.search2_has_button .button_theme_websearch {
	position:absolute;
	right:8px;
	top:0;
	bottom:0;
	margin-right:6px;
	z-index:3;
	background-color:#FC0
}

.search2_has_button .button_theme_websearch.button_pressed_yes {
	background-color:#f2c200
}

.search2_has_button .button_theme_websearch:before {
	right:-23px;
	height:46px;
	width:46px;
	-ms-transform:rotate(45deg) skew(15deg, 15deg) scale(.55);
	-webkit-transform:rotate(45deg) skew(15deg, 15deg) scale(.55);
	transform:rotate(45deg) skew(15deg, 15deg) scale(.55)
}

.search2_has_button .button_theme_websearch .button__text {
	padding:0 17px 0 23px;
	font-size:19px;
	line-height:46px
}

.search2_has_button .input .input__box {
	padding-right:137px
}

.search2_has_button .input__clear {
	width:40px;
	right:92px
}

.search2_has_button .suggest2.popup {
	padding-right:110px
}

.search2_has_button .input__clear_visibility_visible {
	-webkit-transition:none;
	transition:none
}

.search2-web__input-cell {
	width:100%
}

.input_theme_websearch {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:2px 0 2px 2px;
	background-color:#ffdb4c;
	background-image:-webkit-gradient(linear, right top, left bottom, color-stop(0, #ffdb4c), to(#fc0));
	background-image:-webkit-linear-gradient(top right, #ffdb4c 0, #fc0 100%);
	background-image:linear-gradient(top right, #ffdb4c 0, #fc0 100%)
}

.input_theme_websearch.input {
	font-size:16px
}

.input_theme_websearch .input__control {
	font-family:arial, sans-serif;
	color:#000
}

.input_theme_websearch .input__box {
	line-height:32px;
	background-color:#fff
}

.input_theme_websearch .input__hint {
	color:#999
}

.search2:not(:hover) .input_search2-clear-hide_yes .input__clear {
	opacity:0
}

.button_theme_websearch {
	overflow:visible;
	font-family:arial, sans-serif;
	font-size:16px;
	color:#000
}

.button_theme_websearch .button__text {
	padding:0 14px 0 19px
}

.arrow2 {
	position:relative;
	display:inline-block;
	white-space:nowrap
}

.arrow2:before {
	position:absolute;
	top:0;
	content:'';
	background-color:inherit;
	-webkit-transform:rotate(45deg) skew(18.435deg, 18.435deg) scale(.53);
	-ms-transform:rotate(45deg) skew(18.435deg, 18.435deg) scale(.53);
	transform:rotate(45deg) skew(18.435deg, 18.435deg) scale(.53)
}

.arrow2_size_l {
	margin-right:9px;
	line-height:36px
}

.arrow2_size_l:before {
	right:-18px;
	width:36px;
	height:36px
}

.arrow2_theme_websearch-button {
	background-color:#ffdb4c;
	-webkit-transition:background .1s ease-out;
	transition:background .1s ease-out
}

.arrow2_theme_websearch-button.button_pressed_yes {
	background-color:#f2cf48
}

.search2-web {
	width:100%;
	max-width:638px;
	height:36px
}

.search2-web table {
	border-collapse:collapse
}

.search2-web table, .search2-web tr, .search2-web td {
	margin:0;
	padding:0
}

.layout__table {
	width:100%;
	height:100%
}

.layout__footer {
	height:1%;
	text-align:center
}

.layout__footer .b-table__cell {
	vertical-align:bottom
}

.layout__footer-logo {
	position:relative;
	display:block;
	height:27px;
	width:58px;
	margin:0 auto 13px;
	background:#FFF url("../_files/WXXr7gjPV8GCt3JTaNI3n2_Y8.svg") no-repeat 0 0;
	overflow:hidden
}

.layout__footer-logo:before {
	content:'';
	position:absolute;
	opacity:.3;
	left:0;
	top:100%;
	width:100%;
	height:100%;
	background:#FFF url("../_files/WXXr7gjPV8GCt3JTaNI3n2_Y8.svg") no-repeat 0 -30px;
	-webkit-transition:opacity ease-in-out .16s;
	transition:opacity ease-in-out .16s
}

.layout__footer-logo:hover:before {
	top:0;
	display:block;
	opacity:1
}

.i-ua_inlinesvg_no .layout__footer-logo, .i-ua_inlinesvg_no .layout__footer-logo:before {
	background-image:url("//yastatic.net/www/_/9/T/cUZAWmOCGSvu9o4t75IPkKQP4.png")
}

.layout__search .b-table__cell {
	padding:0 0 50px
}

.layout__header {
	height:1%;
	text-align:right
}

.layout__header-cell {
	padding:17px 28px 0;
	vertical-align:top
}

.suggest2-form__node {
	width:100%
}

.suggest2-form__input {
	padding:3px 0 3px 3px;
	background:#FC0
}

.suggest2-form__input .input__control {
	font-size:19px;
	padding:9px 0 9px 12px;
	height:40px
}

.suggest2-form__input .input__control::-ms-clear {
	display:none;
	width:0;
	height:0
}

.search2-web__input-wrapper {
	position:relative;
	padding-right:16px
}

.search2-web__arrow {
	position:absolute;
	top:0;
	right:0;
	display:block;
	width:16px;
	height:46px
}

.search2:not(.search2_has_button) .search2-web__arrow {
	background:url("//yastatic.net/www/_/p/o/007Bi7U_bR4u7CYLfZYaPeuKI.svg") no-repeat top left
}

.search2.search2_has_button .search2-web__arrow {
	background:#FFF
}

.suggest2_theme_normal {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-shadow:0 0 0 1px rgba(0, 0, 0, .1) inset, 0 10px 20px -5px rgba(0, 0, 0, .4);
	box-shadow:0 0 0 1px rgba(0, 0, 0, .1) inset, 0 10px 20px -5px rgba(0, 0, 0, .4)
}

.suggest2_theme_normal .suggest2-item_type_traffic, .suggest2_theme_normal .suggest2-item_type_fact, .suggest2_theme_normal .suggest2-item_type_icon {
	color:#999
}