.b-link_type_extended-area {
	/*position:static !important;*/
}
.b-link_type_extended-area .b-link__area {
	cursor:pointer;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(0,0,0,0); //IE10 hover fix

	z-index:1;
}